{% extends "blog/base.html" %}
{% block content %}
  {% if user.is_authenticated %}
    <article class="media content-section">
      <div class="media-body">
        <h1>Save From Corona</h1>
        <p>#RestezChezVous</p>
      </div>
    </article>
  {% else %}
    <article class="media content-section">
      <div class="media-body">
        <h1>Bienvenue</h1>
        <p>Veuillez vous identifier pour accéder aux autres menus</p>
      </div>
    </article>
  {% endif %}
{% endblock content %}
